* {
    font-family: "Proxima-nova", sans-serif;
}

/*Content Header*/

#cv {
    display: block;
    max-width: 66%;
    float: left;
    margin-left: 1em;
    padding-right: 10em;
}

h1 {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

section {
    display: block;
    width: 66%;
    margin-left: 1em;
    clear: left;
}
img {
    max-width: 100%;
    border-radius: 100%;
    margin-bottom: 1%;
}

#fixedNav {
    background-color: lavender;
    position: fixed;
    width: 33%;
    left: 66%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

#fixedNav a {
    display: inline-block;
    width: 100%;
    padding-left: 30%;
    padding-top: 5%;
}

footer {
    font-size: 0.75em;
    text-align: center;
    position: fixed;
    width: 33%;
    top: 95%;
    left: 66%;
    height: 10%;
    background-color: lavenderblush;
}
